cryptography
datasets
flask
flask_socketio
numpy
openai
scipy
silero_vad
soundfile
torch
torchaudio
tqdm
transformers
pyyaml
accelerate>=0.26.0
nemo_toolkit[asr]
git+https://github.com/sarulab-speech/UTMOSv2.git
statsmodels
websockets